<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Astra Child Starter Theme" xsi:noNamespaceSchemaLocation="https://schema.phpcodesniffer.com/phpcs.xsd">

	<description>The WordPress coding standards, for the Astra child starter theme.</description>

	<file>.</file>

	<exclude-pattern>/build/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="basepath" value="."/>
	<arg name="parallel" value="8"/>
	<arg name="colors"/>
	<arg value="sp"/>

	<!-- WordPress = WordPress-Core + WordPress-Docs + WordPress-Extra. -->
	<rule ref="WordPress"/>

	<config name="minimum_wp_version" value="7.1"/>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="astra_child_starter"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="astra-child-starter-theme"/>
			</property>
		</properties>
	</rule>

</ruleset>
